.grid__col--9 ul {
    @include flexbox;
    padding: 0;
    @include mq(tablet) {
        flex-wrap: nowrap;
        width: 60%;
    }
}

.grid__col--9 nav {
    @include mq(tablet) {
        display: flex;
        justify-content: flex-end;
    }
}

.nav__item  {
    @include nav-button;
    @include flexbox;
}

.nav__item a {
    display: block;
    
}

.nav li {
    margin-left: 20px;
}

.nav__item a:hover {
    color: white;
    background-color: $headline-color;
}
